.main-wrap {
  height: 100vh;
  background-color: #cccccc;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  height: 20px;
}